<IfModule mod_rewrite.c>
RewriteEngine  On 
RewriteBase /lesson/menu/admin/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /lesson/menu/admin/index.php [L]
</IfModule>
Options -Indexes