/** {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*box-sizing: border-box;*/
/*}*/
.newsImg{
    width: 100px;
    height: 100px;
    background-size: cover;
}

.srch{
    max-width: 10px; !important;
}